<%- include('partials/header') %>
<%-include('partials/navbar')%>
<div class="pb-5 mb-4 bg-light rounded-3 bg-dark text-white">
    <div class=" pt-5">
      <h1 class="display-5 fw-bold">Catalog</h1>
    </div>
<p>
    <table class = "table text-white">
        <tr>
            <th>CSID</th>
            <th>Name</th>
            <th>Formula</th>
        </tr>
        <%
        let listNumbers = list.map((item) => {
            return item.replace(".mol", "")
        })
        listNumbers.sort(
            function(a, b) {
                return a - b;
            }
        )
        %>
        <% for (let item of listNumbers){%>
            <tr>
                <td><a class="btn btn-light" href = "/item/<%=item%>"><%= String(item).padStart(3, '0') %></a></td>
                <td><a class = "text-white" id="Name<%=item %>" href = "/item/<%=item%>">Name</a></td>
                <td id="Formula<%=item %>">Formula</td>
            </tr>
        <%}%>
    </table>

</p>

<script>
fetch('/catalog/catalog.json')
  .then((response) => response.json())
  .then((data) => {
    for(let item of Object.keys(data)){
        document.getElementById("Name" + item).innerHTML = data[item].name;
        document.getElementById("Formula" + item).innerHTML = data[item].formula;
    }
  }
  );
</script>


<%- include('partials/footer') %>